<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Dry cleaning & laundry delivered to your door">
	<meta name="keywords" content="laundry">
	<meta name="author" content="MyWashio">
	<title><%= (title = yield :title).blank? ? "MyWashio" : title %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :meta_tags %>
</head>
<body class="<%= body_class %>" data-user="<%= h current_user.try(:to_json) %>">

	<%= render partial: "header" %>

	<div class="container">
	
		<% if alert %>
			<p class="alert"><%= alert %></p>
		<% elsif notice %>
			<p class="notice"><%= notice %></p>
		<% end %>

		<%= yield %>

	</div>

</body>
</html>
